@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    text-align: center;
    height: 100vh;
    font-size: 1.2em;
    color: rgb(30, 43, 43);
    font-family: 'Montserrat',
    sans-serif;
    background: #ECE9E6;
    background: -webkit-linear-gradient(to right, #FFFFFF, #c2c1c1);
    background: linear-gradient(to right, #FFFFFF, #bbbbbb);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #b2b4b6;
    height: 40vmin;
    width: 70vmin;
    padding: 2% 1.2%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

input[type=text],
input[type=password] {
    padding: 1.5% 2%;
    margin: 1%;
    width: 70%;
    font-size: 1em;
    align-self: center;
    outline: none;
    border: none;
    font-family: 'Montserrat',
    sans-serif;
}

input[type=text]:focus,
input[type=password]:focus {
    border: 2px solid #FFC839;
    border-radius: 7px;
}

.btn-wrapper {
    display: flex;
    padding: 4%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.btn {
    box-sizing: content-box;
    font-family: 'Montserrat',
    sans-serif;
    font-size: 0.9em;
    border: none;
    border-radius: 5px;
    border: 2px solid #FFC839;
    width: 160px;
    height: 50px;
    margin: 3% auto;
}

#btn-new {
    flex-basis: 100%;
}

.btn-main {
    background-color: #FFC839;
}

.btn-scnd {
    background-color: #fff;
}

span {
    text-decoration: underline;
    display: block;
    cursor: pointer;
}

.project {
    background-color: #fcf8f8;
    width: 30vmin;
    padding: 2.5%;
    margin: auto 2%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.project-wrapper {
    display: flex;
    justify-content: center;
}

.btn-ctrl {
    cursor: pointer;
}

.btn-ctrl:hover {
    filter: brightness(2.5);
}

.new-project-card {
    margin: auto;
    padding: 2%;
    width: 70%;
    height: 250px;
    margin-top: 15px;
}

.input-wrapper {
    display: flex;
}

.active-project {
    border: 2px solid green;
}


