@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    text-align: center;
    height: 100vh;
    overflow: hidden;
    font-size: 1.2em;
    color: rgb(30, 43, 43);
    font-family: 'Montserrat',
    sans-serif;
    background: #ECE9E6;
    background: -webkit-linear-gradient(to right, #FFFFFF, #c2c1c1);
    background: linear-gradient(to right, #FFFFFF, #bbbbbb);
}


nav {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}

nav > ul > li {
    margin: auto 2%;
    display: flex;
    align-items: center;
}

#nav-btn {
    width: 150px;
    font-weight: 700;
}

main {
    height: 100vmin;
}

h1 {
    padding-left: 30px;
}

h2 {
    margin: 3% auto;
}

.card {
    display: block;
    margin: auto;
    width: 70vmin;
    padding: 1% 1.2%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

input[type=email],
input[type=password],
input[type=text] {
    padding: 1.5% 2%;
    margin: 1%;
    width: 70%;
    font-size: 1em;
    align-self: center;
    outline: none;
    border: none;
    font-family: 'Montserrat',
    sans-serif;
}

input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus {
    border: 2px solid #FFC839;
    border-radius: 7px;
}

.btn-wrapper {
    display: flex;
    padding: 4%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-flow: row wrap;
}

.btn {
    box-sizing: content-box;
    font-family: 'Montserrat',
    sans-serif;
    font-size: 0.9em;
    border: none;
    border-radius: 5px;
    border: 2px solid #FFC839;
    width: 160px;
    height: 35px;
    margin: 3% auto;
}

#btn-new {
    flex-basis: 100%;
}

.btn-main {
    background-color: #FFC839;
    width: 200px;
}

.btn-main:hover {
    background-color: #9C20B0;
    color: white;
    transition: 0.2s;
    border: none;
}

span {
    text-decoration: underline;
    display: block;
    cursor: pointer;
}

.project {
    width: 27vmin;
    min-height: 500px;
    padding: 2.5%;
    margin: auto 2%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: none;
    border: 0;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 2px #9C20B0;
    position: relative;
}

.project-wrapper {
    display: flex;
    justify-content: center;
}

.btn-ctrl {
    cursor: pointer;
}

.btn-ctrl:hover {
    filter: brightness(2.5);
    color: #9C20B0;
    transition: 0.2s;
}

.new-project-card {
    margin: auto;
    padding: 2%;
    width: 70%;
    height: 250px;
    margin-top: 15px;
}

.input-wrapper {
    display: flex;
}

.active-project {
    border: 2px solid #43943f;
}
