@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap');

body {
    scroll-behavior: smooth;
    text-align: center;
    font-size: 1.2em;
    color: #1e2b2b;
    background-color: #efefef;
    font-family: 'Lato',
        sans-serif;
}

main {
    padding: 3% 1%;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    box-shadow: 0px 11px 20px rgba(5, 16, 55, 0.1);
    background-color: white;
}

nav>ul>li {
    margin: auto 2%;
    display: flex;
    align-items: center;
}

h1,
h2,
h3 {
    font-family: 'Montserrat',
        sans-serif;
}

h1 {
    padding-left: 30px;
}

h2 {
    margin: 3% auto;
}

h1 a {
    text-decoration: none;
}

h1 a:hover {
    color: rgb(30, 43, 43);
}

a:visited {
    color: rgb(30, 43, 43);
}

.card {
    display: block;
    margin: 5% auto;
    width: 70vmin;
    padding: 1% 1.2%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #FFFFFF;
    box-shadow: 0px 11px 20px rgba(5, 16, 55, 0.1);
    border-radius: 6px;
}


p:focus {
    outline: none;
}

h3:focus {
    outline: none;
}

.btn {
    box-sizing: content-box;
    font-size: 0.9em;
    border: none;
    border-radius: 5px;
    border: 2px solid #FFC839;
    width: 160px;
    height: 35px;
    margin: 3% auto;
}

#btn-new {
    flex-basis: 100%;
}

.btn-main {
    background-color: #FFC839;
    width: 200px;
}

.btn-main:hover {
    background-color: #9C20B0;
    color: white;
    transition: 0.2s;
    border: 2px solid #9C20B0;
}

.register-link {
    display: block;
    cursor: pointer;
}

.project {
    width: 20vmin;
    height: 400px;
    text-align: left;
    padding: 2.5%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #FFFFFF;
    box-shadow: 0px 11px 20px rgba(5, 16, 55, 0.1);
    border-radius: 6px;
}

.btn-ctrl {
    cursor: pointer;
}

.btn-ctrl:hover {
    filter: brightness(2.5);
    color: #9C20B0;
    transition: 0.2s;
}

.new-project-card {
    margin: auto;
    padding: 2%;
    width: 70%;
    height: 250px;
    margin-top: 15px;
}

.input-wrapper {
    display: flex;
}

.btn-active {
    font-size: 1.5em;
    transition: 0.2s;
    color: #9C20B0;
}

.btn-active:hover {
    filter: brightness(2.5);
    transition: 0.2s;
}

/* REPORTS */

.reports-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

table {
    font-size: 0.8em;
    padding: 20px;
    border-collapse: collapse;
    box-shadow: 0px 11px 20px rgba(5, 16, 55, 0.1);
    border-radius: 6px;
}

table td {
    padding: 12px;
}

table>tr:nth-of-type(even) {
    background-color: white;
}

table>tr:nth-of-type(odd) {
    background-color: #efefef;
}

table th {
    width: 150px;
    padding: 8px 12px;
    background-color: #d2d2d2;
}

table th:first-of-type {
    border-top-left-radius: 10px;
}

table th:last-of-type {
    border-top-right-radius: 10px;
}

table tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
}

table tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
}

.th-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sort-wrapper {
    display: flex;
    flex-direction: column;
}

.btn-sort {
    height: 50px;
    width: 50px;
}

.btn-sort:hover {
    color: #9C20B0;
    cursor: pointer;
}


.doughnut-wrapper {
    position: relative;
    flex: 1;
}

.doughnut-wrapper,
.table-wrapper {
    width: 45%;
    text-align: left;
}

.time-criteria-select {
    margin-top: 5%;
}

.time-criteria-btn {
    border: none;
    background: #FFFFFF;
    border-radius: 6px;
}

.time-criteria-btn:hover {
    transition: 0.2s;
    background-color: #9C20B0;
    color: white;
}

.time-criteria-heading {
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding-bottom: 3px;

}

.time-criteria-heading:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: #FFC839;
    -webkit-animation-name: border;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards;
    /* Safari 4.0 - 8.0 */
    animation-name: border;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes border {
    from {
        width: 0px;
    }

    to {
        width: 100%
    }
}