.App {
  text-align: center;
}

nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

nav > ul > li > a {
  text-decoration: none;
  color: rgb(28, 46, 46);
  margin: auto 30px;
}

a:hover {
  color: white;
}
